/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 86em) {
  html {
    font-size: 0.87rem;
  }
}
@media (max-width: 63.9375em) {
  html {
    font-size: 0.7rem;
  }
}
@media (max-width: 31.9375em) {
  html {
    font-size: 0.36rem;
  }
}
@media (max-width: 20.9375em) {
  html {
    font-size: 0.22 0.22rem;
  }
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 90rem;
  padding: 0 9.38rem;
}
@media (max-width: 61.9375em) {
  .container {
    width: 72rem;
  }
}
@media (max-width: 41.9375em) {
  .container {
    width: 69rem;
  }
}
@media (max-width: 20.9375em) {
  .container {
    width: 61rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  padding: 2.26rem 0;
  justify-content: center;
  position: sticky;
  z-index: 1;
}

@media (max-width: 40em) {
  .header {
    z-index: 1;
  }
}
@media (max-width: 40em) {
  .header::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    z-index: 0;
  }
}
.burger-menu__checkbox {
  display: none;
}

@media (max-width: 40em) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 1;
    align-self: center;
    cursor: pointer;
  }
  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: #000;
    transition: 0.3s;
  }
  .header:has(.burger-menu__checkbox:checked) .nav {
    top: 100%;
    z-index: 3;
    transition: 0.3s;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(5px) rotate(40deg);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
  .nav {
    position: absolute;
    padding: 3rem 0;
    width: 100%;
    top: 0;
    border-bottom: 0.1rem solid #000;
    z-index: -1;
    width: 100vw;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.62rem;
  margin-right: auto;
}

.logo__icon {
  width: 2.1rem;
}

.icon__title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vpn {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__lists {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 40em) {
  .nav__lists {
    gap: 4rem;
    justify-content: center;
  }
}

.nav__list__list {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
@media (max-width: 40em) {
  .nav__list__list {
    font-size: 2rem;
    font-weight: 500;
  }
}

.sign {
  display: flex;
  align-items: center;
  gap: 0.8188rem;
  margin-left: auto;
}

.sign-up,
.sign-in {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  flex-shrink: 0;
  border-radius: 3.125rem;
}

.sign-up {
  color: #f53855;
  font-family: "Rubik";
  font-size: 1rem;
  font-style: normal;
  line-height: 2.5rem;
  border: 1px solid #f53855;
  width: 9.375rem;
  height: 2.8125rem;
  text-align: center;
}

.sign-in {
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

.started {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  margin-top: 7.44rem;
}
@media (max-width: 63.9375em) {
  .started {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
  }
}

.started__content {
  grid-area: 1/1/1/1;
  align-self: center;
}
@media (max-width: 61.9375em) {
  .started__content {
    grid-column: 1/-1;
    grid-row: 2;
  }
}

.primary__heading {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.375rem; /* 140% */
  padding-bottom: 1.25rem;
}
@media (max-width: 60.9375em) {
  .primary__heading {
    width: 100%;
  }
}

.laslesvpn {
  font-weight: 700;
}

.started__p {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  padding-bottom: 4.2rem;
}
@media (max-width: 61.9em) {
  .started__p {
    margin: 0 auto;
  }
}

.started__pic {
  grid-area: 1/2/1/2;
  align-self: center;
}
@media (max-width: 61.9em) {
  .started__pic {
    grid-area: auto;
    grid-row: 1;
  }
}

.started__icons {
  grid-area: 2/1/2/3;
  margin-top: 6.44rem;
}
@media (max-width: 61.9375em) {
  .started__icons {
    grid-area: auto;
    grid-column: 1/-1;
    grid-row: 3;
  }
}

.started__button {
  border-radius: 0.625rem;
  background: #f53838;
  width: 15.625rem;
  height: 3.75rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 2rem 2rem -0.875rem rgba(245, 56, 56, 0.35);
}

.started__button__button {
  color: #fff;
  font-family: "Rubik";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem; /* 156.25% */
}

.started__pic {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.started__pic__pic {
  display: inline-block;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.started__icons {
  height: 12.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 63.9375em) {
  .started__icons {
    flex-direction: column;
    width: 100%;
    height: 50rem;
  }
}

.user,
.server,
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.97rem;
}

.user__icon,
.location__icon,
.server__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4375rem;
  height: 3.4375rem;
  flex-shrink: 0;
  border-radius: 4.375rem;
  background: #ffecec;
}
@media (max-width: 61.9375em) {
  .user__icon,
  .location__icon,
  .server__icon {
    width: 9rem;
    height: 9rem;
  }
}

.started__icons-user,
.started__icons-location,
.started__icons-server {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
@media (max-width: 61em) {
  .started__icons-user,
  .started__icons-location,
  .started__icons-server {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.started__number {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 120% */
}

.started__title {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
}

.features {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10.5rem;
}
@media (max-width: 61em) {
  .features {
    grid-template-columns: 1fr;
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}
@media (max-width: 61em) {
  .features__content {
    grid-row: 2;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 61em) {
  .features__pic {
    grid-row: 1;
  }
}

.features__pic__pic {
  max-width: 100%;
}

.features__title {
  color: #0b132a;
  font-family: "Rubik";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 142.857% */
}

.features__p {
  color: #4f5665;
  font-family: "Rubik";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}
@media (max-width: 61em) {
  .features__p {
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
  }
}

.features__lists {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
}
@media (max-width: 61em) {
  .features__lists {
    justify-content: center;
    align-items: start;
  }
}

.features__list,
.plan__list {
  display: flex;
  gap: 0.63rem;
  color: #4f5665;
  font-family: Rubik;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 214.286% */
}
@media (max-width: 61em) {
  .features__list,
  .plan__list {
    justify-content: center;
    align-items: start;
  }
}

.plan__title-primary {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 142.857% */
  margin-top: 11rem;
}

.plan__select-p {
  text-align: center;
  margin-top: 1.25rem;
}

.plan__title-secondary {
  display: inline-block;
  color: #0b132a;
  text-align: center;
  justify-content: center;
  font-family: Rubik;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 166.667% */
}

.plan__p {
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}

.plan__plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  margin-top: 3.75rem;
  gap: 3.12rem;
}
@media (max-width: 61em) {
  .plan__plans {
    grid-template-columns: 1fr;
  }
}

.plan__plan {
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 2px solid #ddd;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.plan__lists {
  display: flex;
  flex-direction: column;
}
@media (max-width: 61em) {
  .plan__lists {
    align-items: start;
  }
}

.plan__list {
  display: flex;
  gap: 0.63rem;
  color: #4f5665;
  font-family: Rubik;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 214.286% */
}
@media (max-width: 61em) {
  .plan__list {
    align-items: center;
  }
}

.plan__list-icon {
  margin-top: 4.98rem;
}

.plan__select {
  margin-top: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plan__button {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 11.11725rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 2px solid #f53838;
  text-decoration: none;
  color: #f53838;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan__button-last {
  border-radius: 3.125rem;
  background: #f53838;
  color: #fff;
  font-family: "Rubik";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.network__title {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 142.857% */
  max-width: 50%;
}

.network__p {
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
  margin-top: 1.25rem;
}

.network__laslesvpn {
  color: #4f5665;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
}

.network {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 9.38rem;
}

.network__pic {
  display: inline-block;
  max-width: 100%;
  fill: #dde0e4;
  opacity: 0.5;
  margin-top: 9.34rem;
}

.network__icons {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 6.87rem;
  gap: 2.74rem;
  flex-wrap: wrap;
}

.network__icon {
  display: inline-block;
  width: 11.875rem;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.testimonials {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.testimonials__title {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 142.857% */
  margin-top: 7.6rem;
}

.testimonials__p {
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
  margin-top: 1.25rem;
  display: inline;
}

.testimonials__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.12rem;
}
@media (max-width: 61em) {
  .testimonials__lists {
    grid-template-columns: 1fr;
  }
}

.testimonials__list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 2px solid #dddddd;
  background: #fff;
  justify-content: flex-start;
  padding: 0 1.88rem;
  gap: 1.88rem;
}

.testimonials__list-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.testimonials__list-end {
  display: flex;
  justify-content: space-around;
}

.testimonials__list-p {
  color: #0b132a;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}

.testimonials__list-left {
  display: flex;
  gap: 1rem;
}

.testimonials__list-left-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.testimonials__list-left-title-h3 {
  color: #0b132a;
  font-family: Rubik;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.275rem; /* 166.667% */
}

.testimonials__list-left-title-p {
  color: #4f5665;
  font-family: Rubik;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 214.286% */
}

.testimonials__number {
  color: #0b132a;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}

.testimonials__star {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.testimonials__end {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
@media (max-width: 61em) {
  .testimonials__end {
    opacity: 0;
    visibility: hidden;
  }
}

.testimonials__end-right {
  display: flex;
  justify-content: space-around;
  gap: 1.25rem;
}

.testimonials__end-right-border {
  width: 3.75rem;
  height: 3.75rem;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #f53838;
  border: solid 0.15rem red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.testimonials__end-icon {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  flex-shrink: 0;
}

.testimonials__end-right-border-last {
  background-color: #f53838;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0.625rem;
  background: #fff;
  width: 60vw;
  height: 10.5625rem;
  flex-shrink: 0;
  margin: -5.06rem 2rem 0 2rem;
  align-items: center;
  grid-column: 1/-1;
}
@media (max-width: 63em) {
  .subscribe {
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.subscribe__start {
  display: flex;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 3rem;
}

.subscribe__title {
  color: #0b132a;
  font-family: Rubik;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8125rem; /* 128.571% */
}

.subscribe__p {
  color: #4f5665;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}

.subscribe__end {
  width: 15.625rem;
  height: 3.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #f53838;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.subscribe__end-button {
  display: inline-block;
  color: #fff;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem; /* 156.25% */
  text-decoration: none;
}

.footer {
  position: relative;
  margin: 7rem auto 0 auto;
  background: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  height: 35.195rem;
  flex-shrink: 0;
  z-index: 1;
  justify-items: center;
}
@media (max-width: 63em) {
  .footer {
    grid-template-columns: 1fr;
  }
}

.footer::after {
  content: "";
  position: absolute;
  background-color: #f8f8f8;
  width: 99.5vw;
  height: 100%;
  z-index: -1;
}

.help {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
@media (max-width: 40em) {
  .help {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.help__start {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.help__p {
  color: #4f5665;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 187.5% */
  margin-top: 1.25rem;
}

.help__laslesvpn {
  font-weight: 500;
}

.help__rights {
  color: #afb5c0;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.help__rights-vpn {
  font-weight: 500;
}

.socmedia {
  display: flex;
  margin-top: 1.8rem;
}

.socmedia__icon,
.socmedia__icon__icon {
  display: inline-block;
}

.socmedia__icon__icon {
  cursor: pointer;
  width: 4.1rem;
  height: 4.1rem;
  flex-shrink: 0;
}

.help__end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 40em) {
  .help__end {
    display: none;
    visibility: hidden;
  }
}

.help__lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.help_h3 {
  color: #0b132a;
  font-family: Rubik;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 166.667% */
}/*# sourceMappingURL=style.css.map */